.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 6rem;
  background-color: white;
}

.table,
.th,
.td {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
}

.th,
.td {
  text-align: left;
  padding: 5px 4px;
}

.table {
  width: 30%;
}

.tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.text-center {
  text-align: center;
  background-color: green;
}