.container {
  height: 100%;
  width: 100%;
  background-color: #00897B;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 7px;
  border: none;
  outline: none;
}

.container:hover {
  cursor: pointer;
  opacity: 0.5;
}